// Imports
@import "partials/reset.scss";
@import "partials/clearfix.scss";
@import "partials/general_styles.scss";

// 1. Many small items in a grid
@media screen and (max-width: 900px) {
  .small-grid-inline-block-hack {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      width: 400px;
      height: 400px;
      display: flex;
      flex-flow: row wrap;
    }
    li {
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
    }
  }
}
.small-grid-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
  }
  li {
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
  }
}
// 2. 2-Column Grid
.two-col-grid-floats {
 display: flex;
 justify-content: center;
  .column-1 {
    width: 200px;
    height: 400px;
  }
  .column-2 {
    width: 200px;
    height: 400px;
  }
}
.two-col-grid-flexbox {
  display: flex;
  align-items: center;
  flex-flow: column;
  .column-1 {
    height: 200px;
    width: 400px;
  }
  .column-2 {
    height: 200px;
    width: 400px;
  }
}
.column-1 {
  padding: 0;
}
.column-2 {
  padding: 0;
}
// 3. Centering
.centering-formula {
  display: flex;
  justify-content: center;
  height: 450px;
}
.centered{
  width: 400px;
  height: 400px;
  padding: 0;
}
// 4. Ordering
@media (min-width: 1201px) {
  .ordering-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    .item {
      height: 400px;
      padding: 0;
      margin: 0 5px;
    }
    .item-a {
      width: 100px;
    }
    .item-b {
      width: 140px;
    }
    .item-c {
      width: 45px;
    }
    .item-d {
      width: 70px;
    }
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .ordering-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .item {
      height: 400px;
      padding: 0;
    }
    .item-a {
      width: 75px;
    }
    .item-b {
      width: 150px;
    }
    .item-c {
      width: 50px;
    }
    .item-d {
      width: 125px;
    }
  }
}
@media (max-width: 900px) {
  .ordering-block {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .item {
      height: 100px;
      padding: 0;
      display: flex;
    }
    .item-a {
      width: 400px;
    }
    .item-b {
      width: 400px;
    }
    .item-c {
      width: 400px;
    }
    .item-d {
      order: -1;
      width: 400px;
    }
  }
}
// 5. Extra
.extra-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .item {
    height: 400px;
    padding: 0;
  }
  .item-a {
    width: 100px;
  }
  .item-b {
    width: 100px;
  }
  .item-c {
    width: 100px;
  }
  .item-d {
    width: 100px;
  }
}
@media (min-width: 769px) and (max-width: 1030px) {
  .extra-block {
    .item-a {
      width: 50px;
    }
    .item-c {
      width: 150px;
    }
  }
}
@media (min-width: 376px) and (max-width: 768px) {
  .extra-block {
    .item-a {
      width: 10px;
    }
    .item-c {
      width: 190px;
    }
  }
}